{% set title = "Connexion" %}

{% extends 'base.html.twig' %}
{% block body %}
    <img class="wave" src="/img/wave.svg"/>

    <div class="auth animate animateSlideInDown mx-1">
        <h1 class="text-center text-white mb-3">Se connecter</h1>

        {% if error %}
            <div class="text-center alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form class="auth-form py-2 px-3" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="form-group my-3">
                <label for="email" class="mb-2">Email</label>
                <input id="email" class="form-control px-2" type="text" name="email" value="{{ last_username }}"
                       required autofocus>
            </div>
            <div class="form-group my-3">
                <label for="password" class="mb-2">Mot de passe</label>
                <input id="password" class="form-control px-2" type="password" name="password" required>
            </div>

            <div class="checkbox-inline">
                <input id="remember" type="checkbox"><label for="remember">Se souvenir de moi</label>
            </div>

            <div class="legal-mention text-muted my-3">
                <p class="italic"><small>Vos données personnelles ne sont utilisées qu'à des fins d'authentification et
                        ne sont pas partagées avec des tiers.</small></p>
            </div>

            <div class="form-group my-3">
                <input class="btn" type="submit" value="Se connecter">
            </div>
        </form>
    </div>


{% endblock %}

{# {% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
#}
{#
<button class="btn btn-lg btn-primary" type="submit">
    Sign in
</button>
</form>
{% endblock %}
#}
