{% set title = "Modifier une catégorie" %}

{% extends 'layout/base.html.twig' %}
{% block body %}
    <div class="titleMenu">
        <i class="las la-arrow-left" onclick="location='{{ path('category_index') }}'"></i>
        <div class="title">{{ title }}</div>
    </div>
    {{ form_start(form) }}
    {{ form_row(form._token) }}
    {{ form_row(form.name) }}
    {{ form_row(form.Enregistre) }}
    {{ form_end(form) }}
{% endblock %}


