{% set title = "Catégories" %}

{% extends 'layout/base.html.twig' %}
{% block body %}
    <div class="titleMenu">
        <div class="title">{{ title }}</div>
    </div>
    <div class="listContainer">
        <div class="container" id="addContainer" onclick="location='{{ path('category_add') }}'">
            <div class="addButton">
                <i class="las la-plus"></i>
            </div>
        </div>
        {% for category in categories %}
            <div class="container">
                <div class="backgroundContainer">
                    <div class="name">{{ category.name }}</div>
                </div>
                <div class="icons">
                    <i class="las la-trash" onclick="location='{{ path('category_delete', {id: category.id}) }}'"></i>
                    <i class="las la-edit" onclick="location='{{ path('category_edit', {id: category.id}) }}'"></i>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


