{% set title = "Itinéraires" %}

{% extends 'layout/base.html.twig' %}
{% block body %}
    <div class="titleMenu">
        <div class="title">{{ title }}</div>
    </div>
    <div class="listContainer">
        <div class="container" id="addContainer" onclick="location='{{ path('itinerary_add') }}'">
            <div class="addButton">
                <i class="las la-plus"></i>
            </div>
        </div>
        {% for itinerary in itineraries %}
            <div class="container" onclick="location='{{ path('itinerary_read', {id: itinerary.id}) }}'">
                <div class="backgroundContainer">
                    <div class="name">{{ itinerary.name }}</div>
                </div>
                <div class="icons">
                    <i class="las la-trash" onclick="location='{{ path('itinerary_delete', {id: itinerary.id}) }}'"></i>
                    <i class="las la-edit" onclick="location='{{ path('itinerary_edit', {id: itinerary.id}) }}'"></i>
                    <i class="las la-eye" onclick="location='{{ path('itinerary_read', {id: itinerary.id}) }}'"></i>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


