<h2>Edtier le client n°<span id="number-id">1</span></h2>

{{ form_start(form, {'method': 'POST' }) }}

    {% if not form.vars.valid %}
        <div class="bg-danger">
            Le formulaire contient une ou plusieurs erreurs<br><br>
            {{ form_errors(form) }}
        </div>
    {% endif %}

    {{ form_row(form._token) }}
<div class="form-group my-3">
    {{ form_label(form.email) }}
    {{ form_widget(form.email, {attr : {'class' : 'form-control px-2'}}) }}
    <i class="text-error mt-1"><small>{{ form_errors(form.email) }}</small></i>
</div>
<div class="form-group my-3">
    {{ form_label(form.company_name) }}
    {{ form_widget(form.company_name, {attr : {'class' : 'form-control px-2'}}) }}
    <i class="text-error mt-1"><small>{{ form_errors(form.company_name) }}</small></i>
</div>
<div class="form-group my-3">
    {{ form_label(form.locale) }}
    {{ form_widget(form.locale, {attr : {'class' : 'form-control px-2'}}) }}
    <i class="text-error mt-1"><small>{{ form_errors(form.locale) }}</small></i>
</div>
<div class="form-group my-3">
    <input id="submit-edit-user" class="cursor-pointer btn" type="submit" value="Mettre à jour">
</div>
{{ form_end(form, {'render_rest': false}) }}
