{% set title = "Modifier une place" %}

{% extends 'layout/base.html.twig' %}
{% block body %}
    <h1>{{ title }}</h1>
    <div onclick="location='{{ path('place_index') }}'">Back</div>
    {{ form_start(form) }}
    {{ form_row(form._token) }}
    {{ form_row(form.name) }}
    {{ form_row(form.latitude) }}
    {{ form_row(form.longitude) }}
    {{ form_row(form.difficulty) }}
    {{ form_row(form.radius_type) }}
    {{ form_row(form.active) }}
    {{ form_row(form.description) }}
    {{ form_row(form.category) }}
    {{ form_row(form.Enregistre) }}
    {{ form_end(form) }}
{% endblock %}


