{% set title = "Place" %}

{% extends 'layout/base.html.twig' %}
{% block body %}
    <div class="listContainer">
        <div class="titleMenu">
            <i class="las la-arrow-left" onclick="location='{{ path('place_index') }}'"></i>
            <div class="title">{{ title }}</div>
            <i class="las la-trash" onclick="location='{{ path('place_delete', {id: place.id}) }}'"></i>
            <i class="las la-edit" onclick="location='{{ path('place_edit', {id: place.id}) }}'"></i>
        </div>

        <div class="container view">
            <div class="backgroundContainer">
                <div class="name">{{ place.name }}</div>
            </div>
            <div class="itemDetail">
                <div class="latitude">
                    <div class="itemDetailName">Latitude : </div>
                    <div class="itemDetailValue">{{ place.latitude }}</div>
                </div>
                <div class="longitude">
                    <div class="itemDetailName">Longitude : </div>
                    <div class="itemDetailValue">{{ place.longitude }}</div>
                </div>
                <div class="difficulty">
                    <div class="itemDetailName">Difficulté : </div>
                    <div class="itemDetailValue">Niveau {{ place.difficulty }}</div>
                </div>
                <div class="active">
                    <div class="itemDetailName">Active : </div>
                    <div class="itemDetailValue">{{ place.active }}</div>
                </div>
                <div class="description">
                    <div class="itemDetailName">Description : </div>
                    <div class="itemDetailValue">{{ place.description }}</div>
                </div>
                <div class="category">
                    <div class="itemDetailName">Catégorie : </div>
                    <div class="itemDetailValue">{{ place.category }}</div>
                </div>
            </div>
            {% if place.imageFileName %}
                <img src="{{ vich_uploader_asset(place, 'image') | imagine_filter('thumb') }}" alt="" class="image">
            {% else %}
                <img src="{{ '/img/img_logo_blue.jpg' | imagine_filter('thumb') }}" alt="" class="image">
            {% endif %}
        </div>
    </div>
{% endblock %}


