{% set title = "Créer un compte employé" %}

{% extends 'layout/base.html.twig' %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}

        <div class="form-group my-3">
            {{ form_label(form.first_name) }}
            {{ form_widget(form.first_name, {attr : {'class' : 'form-control px-2', 'name': 'password'}}) }}
            {{ form_errors(form.first_name) }}
        </div>

        <div class="form-group my-3">
            {{ form_label(form.last_name) }}
            {{ form_widget(form.last_name, {attr : {'class' : 'form-control px-2', 'name': 'password'}}) }}
            {{ form_errors(form.last_name) }}
        </div>
        <div class="form-group my-3">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {attr : {'class' : 'form-control px-2', 'name': 'password'}}) }}
        </div>

        <div class="form-group my-3">
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first, {attr : {'class' : 'form-control px-2', 'name': 'password'}}) }}
            {{ form_errors(form.password.first) }}
        </div>
        <div class="form-group my-3">
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second, {attr : {'class' : 'form-control px-2', 'name': 'password'}}) }}
            {{ form_errors(form.password.second) }}
        </div>

        <div class="form-group my-3">
            <input class="btn" type="submit" value="Valider">
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}


