{% set title = "Place" %}

{% extends 'layout/base.html.twig' %}
{% block body %}
    <div class="listContainer">
        <div class="titleMenu">
            <i class="las la-arrow-left" onclick="location='{{ path('manageEmployee_index') }}'"></i>
            <div class="title">{{ title }}</div>
            <i class="las la-trash" onclick="location='{{ path('manageEmployee_delete', {id: employee.id}) }}'"></i>
            <i class="las la-edit" onclick="location='{{ path('manageEmployee_edit', {id: employee.id}) }}'"></i>
        </div>

        <div class="container view">
            <div class="backgroundContainer">
                <div class="name">Employée n°{{ employee.id }}</div>
            </div>
            <div class="itemDetail">
                <div>
                    <div class="itemDetailName">Prénom : </div>
                    <div class="itemDetailValue">{{ employee.firstName }}</div>
                </div>
                <div>
                    <div class="itemDetailName">Nom : </div>
                    <div class="itemDetailValue">{{ employee.lastName }}</div>
                </div>
                <div>
                    <div class="itemDetailName">Email : </div>
                    <div class="itemDetailValue">{{ employee.email }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


